.container {
  padding: 0 140px;
}

.navbar {
  min-height: 80px;
  padding: 0 !important;
  box-shadow: rgb(34 20 20 / 17%) 1px 1px 2px 1px;
  z-index: 2;
}

.btnLogin {
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.25s;
  color: #3174B4;
}


.btnLogin:hover {
  transition: 0.25s;
  color: #37B6AB;
}

.btnRegister {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  background-color: #3174B4;
}

.btnRegister:hover {
  color: #FFF;
  background-color: #37B6AB;
}

.navLink {
  font-size: 18px;
  padding: 26px 0;
  transition: 0.25s;
}

.navLink:hover {
  color: #3174B4 !important;
  background-color: rgba(46, 46, 46, 0.041);
  transition: 0.25s;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 1102px) {
  .container {
    padding: 0 14px;
  }

  .container div {
    text-align: center;
  }
}