.menu {
    display: flex;
    flex-direction: column;
}

.menu > div {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu > div:hover {
    background-color:lavender;
    border-radius: 25px;
}

.menu > div:last-child {
    color: red;
    transition: .25s;
    border-radius: 25px;
}

.menu > div:last-child:hover {
    background-color:red;
    border-radius: 25px;
    color: white;
    transition: .25s;
}

.btnWpp {
    background-color: #25D366;
    border: none;
    border-radius: 50%;
    padding: 5px 15px;
    font-size: 30px;
}

.btnWpp:hover {
    background-color: #2ae06d;
}