.menu {
    display: flex;
    flex-direction: column;
}

.menu > div {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu > div:hover {
    background-color:lavender;
    border-radius: 25px;
}

.menu > div:last-child {
    color: red;
    transition: .25s;
    border-radius: 25px;
}

.menu > div:last-child:hover {
    background-color:red;
    border-radius: 25px;
    color: white;
    transition: .25s;
}