.body {
    margin: auto;
    width: auto;
    height: 100vh;
}

.body > div {
    max-width: 1000px;
}

.title {
    font-size: 22px;
}

.floatingLabel {
    max-width: 500px;
}

.borderRight {
    border-right: 1px solid #000;
}

.btnPassword {
    font-weight: 600;
    color: #3174b4;
}

.btnPasswordClick {
    color: black;
}
