.container {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100vh;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #DEE4F0;
    z-index: 0;
}

.logo {
    margin-top: 3em;
    margin-bottom: 4em;
}

.row > div:first-child {
    border-left-color: 1px solid #000;
}

.row button {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #3174b4;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    transition: .25s;
}

.row button:hover {
    background-color: #37B6AB;
    transition: .25s;
}