.container {
  width: 100%;
  position: relative;
  min-height: fit-content;
  display: flex;
}

.containerFluid {
  padding: 0 140px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: #f4f4f4;
}

.content {
  margin: 80px 0;
}

.content .card {
  border-radius: 10px!important;
  border: none;
}

.contentCardOffers {
  display: grid!important;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.4rem;
}

.cardOffers {
  border-radius: 30px;
  padding: 20px;
}

.cardRed {
  background: rgb(239, 7, 50);
  color: #FFFFFF;
}

.boxScheduling {
  position: relative;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}

.iconScheduling {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 200px;
  position: relative;
  z-index: 2;
}

.iconScheduling p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 40px;
}

.boxScheduling::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background-color: #37B6AB;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

.boxScheduling figure {
  border: 2px solid #37B6AB;
  background-color: #37B6AB;
  font-size: 24px;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.buttonOptions {
  margin: 0 10px 0 0;
  background-color: #FFFFFF;
  color: #37B6AB;
  border-radius: 20px;
  padding: 6px 10px;
  border: 1px solid #37B6AB;
  transition: .25s;
}

.buttonSend {
  padding: 8px 70px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #37B6AB;
  border: none;
  font-weight: 600;
}

.buttonOptions:hover {
  background-color: #37B6AB;
  color: #FFFFFF;
  transition: .25s;
}

.benefits {
  margin-right: 2em;
  max-width: 380px;
}

.benefits ul {
  list-style-type: none;
  font-size: 18px;
}

.benefits li {
  margin-bottom: 10px;
  display: flex;
}

.benefits li::before {
  content: "";
  width: 15px;
  height: 17px;
  display: inline-block;
  background-image: url(/svg/arrow-right-solid.svg);
  color: #37B6AB;
  flex-shrink: 0;
  position: relative;
  margin-right: 18px;
  top: 5px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 1500px) {
  .contentCardOffers {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}